@model TeaCapstone.Models.AddTeaLogViewModel
@{
    ViewData["Title"] = "Add Cup";
}

<div id="add-container-div">
    <h1>Add a Cup of Tea</h1>
    <div class="dark-bg-div" id="add-div">

        <form class="add-info-div" method="post" action="@Url.Action("AddTeaLog", "Dashboard")">
            <div class="add-tea-info-div">
                <div id="add-type">
                    <label for="add-type-select" class="add-h3">Type of Tea: </label>
                    <select id="add-type-select" name="TypeId">
                        <option value="">Select Tea Type</option>
                        @foreach (var teaType in ViewData["TeaTypes"] as List<TeaType>)
                        {
                            <option value="@teaType.Id">@teaType.Name</option>
                        }
                    </select>
                </div>
                <div id="add-variety">
                    <label for="add-variety-select" class="add-h3">Variety of Tea: </label>
                    <select id="add-variety-select" name="VarietyId">
                        <option value="">Select Tea Variety</option>
                    </select>
                </div>

            </div>
            <div id="add-date-div">
                <label for="add-date-picker" class="add-h3">Date: </label>
                <input id="add-date-picker date" type="date" name="Date" />
            </div>
            <button type="submit" class="save-button" id="save-button">Save</button>

        </form>
    </div>

</div>


<script>
    document.getElementById('save-button').addEventListener('click', function (e) {
        const selectedType = document.getElementById('add-type-select').value;
        const selectedVariety = document.getElementById('add-variety-select').value;
        const selectedDate = document.getElementById('add-date-picker').value;

        if (!selectedType || !selectedVariety){
            alert("Please select a type and variety");
            e.preventDefault();
            return false;
        }
        if (!selectedDate) {
            alert("Please select a valid date");
            e.preventDefault();
            return false;
        }
    });




    document.getElementById('add-type-select').addEventListener('change', function () {
        var selectedType = this.value;

        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'GetTeaVarieties?teaTypeId=' + selectedType, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var teaVarieties = JSON.parse(xhr.responseText);

                var varietyDropdown = document.getElementById('add-variety-select');
                varietyDropdown.innerHTML = '';
                teaVarieties.forEach(function (variety) {
                    var option = document.createElement('option');
                    option.value = variety.id;
                    option.textContent = variety.name;

                    varietyDropdown.appendChild(option);
                })
            }
        }
        xhr.send();
    })


</script>