@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-main-div">
    <h1>Dashboard</h1>
    
   
    <div id="dashboard-div" class="dark-bg-div">
        <div class="dashboard-buttons-div">
            <a id="add-cup-button" asp-controller="Dashboard" asp-action="Add">Add Cup</a>
            <a id="edit-cups-button" asp-controller="Dashboard" asp-action="Search">Edit Cups</a>
        </div>
        <div class="dashboard-stats-div">
            <div class="total-cups-div">
                <h2>Total Cups</h2>
                <h1 class="stat-number">@ViewBag.TotalCups</h1>
            </div>
            <div class="cups-today-div">
                <h2>Cups Today</h2>
                <h1 class="stat-number">@ViewBag.CupsToday</h1>
            </div>
            
            <div class="avg-per-day-div">
                <h2>Caffeine Today (est)</h2>
                <h1 class="stat-number">@ViewBag.CaffeineToday mg</h1>
            </div>
        </div>

    </div>
    <div class="suggestion-div">
        <h3 class="suggestion-h3">Next Cup You Should Try:</h3>
        <h3 class="suggestion-h3">@ViewBag.RecommendedTea</h3>
    </div>
    <div class="dashboard-reports">
        <h2>Reports:</h2>
        <select>
            <option value="">Select a Report</option>
            <option value="CupsPerDay">Cups Per Day</option>
            <option value="FavType">Favorite Type</option>
            <option value="CaffeinePerDay">Caffeine Per Day</option>
        </select>
        <div id="reports-container">
        </div>

    </div>

</div>