@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="div-container">
    <h1 class="display-4">Teatime Tracker</h1>

    <div class="dark-bg-div">

        <div class="tea-guy-div">
            <img class="teaguy" src="Images\TeaGuyCropped.png" alt="A anthropomorphized glass tea filled with tea and sitting cross legged."/>
            <p class="attribution">By pikisuperstar on FreePik</p>

        </div>
        <p id="slogan">From Sip to Stat. Discover your Tea Trends.</p>


    </div>
    <div class="home-info-div">
        <div class="home-labels-div">
            <h2 class="icon-label">Brew</h2>
            <h2 class="icon-label">Log</h2>
            <h2 class="icon-label">View</h2>
        </div>
        <div class="home-icon-div">
            <img class="home-icon" src="Images\CupIcon.png" alt="Icon of a teacup" />
            <img class="home-icon" src="Images\PaperIcon.png" alt="Icon of a paper" />
            <img class="home-icon" src="Images\BinocIcon.png" alt="Icon of a pair of binoculars" />
        </div>
        <p class="attribution">Icons by Surang</p>
    </div>
</div>
